fastapi
uvicorn[standard]
faiss-cpu
pdfplumber
python-docx
extract-msg
sentence-transformers
psycopg2-binary
requests
pydantic
python-dotenv
httpx
python-multipart
tiktoken
docx2txt
pymupdf
langchain
langchain-community
numpy